paths:
  /wallet:
    get:
      tags:
        - 'wallet'
      summary: 'Get list of all added wallets and chains'
      operationId: 'get'
      produces:
        - 'application/json'
      responses:
        '200':
          description: 'Wallet list'
          schema:
            $ref: '#/definitions/GetWalletResponse'

  /wallet/add:
    post:
      tags:
        - 'wallet'
      summary: 'Add wallet to gateway'
      operationId: 'add'
      consumes:
        - 'application/json'
      parameters:
        - in: 'body'
          name: 'body'
          required: true
          schema:
            $ref: '#/definitions/AddWalletRequest'
      responses: '200'

  /wallet/remove:
    delete:
      tags:
        - 'wallet'
      summary: 'Removes a wallet from gateway'
      operationId: 'delete'
      consumes:
        - 'application/json'
      parameters:
        - in: 'body'
          name: 'body'
          required: true
          schema:
            $ref: '#/definitions/RemoveWalletRequest'
      responses: '200'

  /wallet/sign:
    get:
      tags:
        - 'wallet'
      summary: 'Sign a message using the private key associated with the supplied public key address'
      operationId: 'get'
      consumes:
        - 'application/json'
      produces:
        - 'application/json'
      parameters:
        - in: 'body'
          name: 'body'
          description: 'Request body.'
          required: true
          schema:
            $ref: '#/definitions/GetWalletSignRequest'
      responses:
        '200':
          description: 'Successful response.'
          schema:
            $ref: '#/definitions/GetWalletSignResponse'
