services:
  gateway:
    restart: always
    container_name: gateway
    image: hummingbot/gateway:PR543
    # build: # Uncomment this build section and comment image to build Hummingbot locally
    #   context: .
    #   dockerfile: Dockerfile
    ports:
      - "15888:15888"
    volumes:
      - ./conf:/home/gateway/conf
      - ./logs:/home/gateway/logs
      - ./certs:/home/gateway/certs
    environment:
      - GATEWAY_PASSPHRASE=a # replace with a strong passphrase
      - DEV=true # set to false to require certificates for HTTPS
